.header-container {
  display: flex;
  justify-content: space-between;
  padding: 0 30vh;
}

.category-container {
  display: flex;
  align-items: center;
  color: gray;
}

.icon {
  font-size: 10px;
  padding-left: 5px;
}

.img-container {
  display: flex;
  justify-content: space-around;
  margin: 0 35vh;
}

.img-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-div {
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  margin: 2vh;
}

.img-container img {
  width: 35px;
  height: 35px;
}

.img-container p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
  color: gray;
}

.img-mobile-container {
  display: none;
}

@media (max-width: 980px) {
  .img-container {
    display: none;
  }

  .text-container {
    display: none;
  }

  .header-container {
    display: none;
  }

  .img-mobile-container {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    padding: 8px 16px;
  }

  .img-mobile-container div {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    background-color: white;
    padding: 10px 10px;
    border-radius: 50px;
  }

  .img-mobile-container img {
    align-items: center;
    width: 35px;
    height: 35px;
  }
}
