.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 60px;
  background-color: white;
  color: gray;
}

.nav-container img {
  width: 130px;
  height: 40px;
  padding-right: 10px;
}

.nav-btn-container {
  display: flex;
  padding-left: 35vh;
  align-items: center;
}

.nav-btn-container ul {
  padding: 0;
}

.nav-btn-container li {
  list-style: none;
  display: flex;
  align-items: center;
  /* margin: 0; */
}
.nav-btn-container li div {
  padding-left: 1vh;
}

.nav-list-container {
  /* margin-right: 30vh; */
  padding-right: 30vh;
}

.nav-list-container ul {
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-list-container button {
  width: 156px;
  height: 32px;
  background-color: #0071eb;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.nav-list-container button .icon {
  font-size: 3vh;
  padding-right: 1vh;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
}

.nav-item {
  list-style: none;
  padding: 2vh;
  font-size: 11px;
}

.nav-item .icon {
  font-size: 3vh;
}

.nav-mobile {
  display: none;
}

.nav-list-mobile-container {
  display: none;
}

@media (max-width: 980px) {
  .nav-container {
    display: none;
  }

  .nav-mobile {
    display: block;
    background-color: white;
    height: 60px;
    display: flex;
    align-items: center;
  }

  .logo-container img {
    height: 45px;
    width: 90px;
  }

  .nav-list-mobile-container {
    display: block;
    width: 100%;
  }

  .nav-list-mobile-container ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
  }

  .nav-list-mobile-container ul li {
    padding: 5px;
    color: gray;
  }
}
