.search-background {
  background-image: linear-gradient(
    to bottom right,
    rgb(193, 34, 25),
    rgb(252, 174, 175)
  );
  height: 55vh;
  display: flex;
  text-align: center;
}

.form-container {
  background-color: white;
  border-radius: 10px;
  height: 330px;
  width: 340px;
  margin: auto;
  margin-left: 40vh;
}

.form-container h1 {
  font-size: 28px;
}

.input-container {
  padding: 0 3vh;
  display: grid;
  grid-template-columns: 1fr;
}

.input-container p {
  float: left;
  margin: 0;
}

.input-lable p {
  font-weight: bold;
  margin-bottom: 1vh;
}

.input-window {
  display: flex;
  align-items: center;
  border: 1px grey solid;
  border-radius: 5px;
  height: 48px;
}

.input-window .icon {
  color: gray;
  padding: 0 2vh;
  font-size: 20px;
}

.input-window p {
  color: gray;
}

.dropdown-container {
  padding: 0 3vh;
  display: grid;
  grid-template-columns: 1fr;
}

.dropdown-lable p {
  float: left;
  font-weight: bold;
  margin: 1vh 0;
}

.dropdown-window {
  display: flex;
  align-items: center;
  border: 1px gray solid;
  border-radius: 5px;
  height: 48px;
}

.dropdown-window .icon {
  color: gray;
  padding: 0 2vh;
  font-size: 20px;
}

.dropdown-window p {
  color: gray;
}

.dropdown-window .arrow-icon {
  color: gray;
  padding-left: 17vh;
  font-size: 20px;
}

.form-container button {
  background-color: #0071eb;
  color: white;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  height: 48px;
  width: 290px;
  margin-top: 2vh;
}

.mobile-background {
  display: none;
}

@media (max-width: 980px) {
  .search-background {
    display: none;
  }

  .mobile-background {
    display: block;
    background-image: linear-gradient(
      to bottom right,
      rgb(193, 34, 25),
      rgb(252, 174, 175)
    );
    height: 236px;
    padding-top: 4.5vh;
  }

  .mobile-form-container {
    background-color: white;
    height: 165px;
    margin: 0 10px;
    border-radius: 5px;
    padding: 16px;
  }

  .form-welcome {
    display: flex;
    margin: 0;
    font-weight: bold;
    color: gray;
  }

  .form-bold-text {
    display: flex;
    margin: 0 0 8px 0;
    font-size: 24px;
    font-weight: bold;
  }

  .input-window {
    margin-bottom: 10px;
  }

  .dropdown-mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    height: 48px;
    width: 100%;
  }
  .dropdown-mobile-window {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px gray solid;
    border-radius: 5px;
    height: 48px;
    width: 59vh;
  }

  .dropdown-text {
    display: flex;
    align-items: center;
  }

  .dropdown-mobile-window .icon {
    color: gray;
    padding: 0 2vh;
    font-size: 20px;
  }

  .dropdown-mobile-window p {
    color: gray;
  }

  .mobile-arrow-icon {
    color: gray;
    font-size: 20px;
    padding-right: 10px;
  }

  .dropdown-mobile-container button {
    background-color: #0071eb;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    height: 48px;
    width: 57px;
    float: right;
    margin-left: 10px;
  }
}
